.all-log-content {
    height: 100vh;
    width: 100%;
}

.log-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    border: 2px solid #2e94b9;
    border-radius: 12px;
    padding: 20px;
    background-color: #f0fbff;
}

.log-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.log-title h2 {
    margin: 0px 0px 10px;
    padding: 0px;
}

.log-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-input input {
    width: 300px;
    height: 20px;
    margin: 0px 0px 10px;
    outline: none;
}

.log-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-button button {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background-color: white;
    border: 1.5px solid #2e94b9;
    border-radius: 6px;
    cursor: pointer;
}

.log-button button:active {
    box-shadow: 0 0 8px rgba(46, 148, 185, 0.5);
}

.log-noCount {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0px 0px;
    padding: 0px;
    font-size: 14px;
    color: #2e94b9;
    cursor: pointer;
}