.all-space-product{
    width: 100%;
    height: 150px;
    max-height: 150px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.product-img{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.product-img img{
    width: 100%;
}

.product-description{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}